<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>875602571063-o48nuvdldv94k1nd6akj5kabqkd6v9sv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.875602571063-o48nuvdldv94k1nd6akj5kabqkd6v9sv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>875602571063-16vqcvnc4g59epui4lql1l1uha1efcrm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD3z3QmUTjirXFzlyjrAhpf0</string>
	<key>GCM_SENDER_ID</key>
	<string>875602571063</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stark.ios</string>
	<key>PROJECT_ID</key>
	<string>blue-cabf5</string>
	<key>STORAGE_BUCKET</key>
	<string>blue-cabf5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:875602571063:ios:3a9e225c2374edc46b74b2</string>
	<key>DATABASE_URL</key>
	<string>https://blue-cabf5.firebaseio.com</string>
</dict>
</plist>
